<p>color-demo works!</p>

<button #col1 (click)="changeColor(col1.value)" [value]='blue' class="blue pd">blue</button>
<button #col2 (click)="changeColor(col2.value)" [value]='red' class="red pd">red</button>
<button #col3 (click)="changeColor(col3.value)" [value]='yellow' class="yellow pd">yellow</button>
<button #col4 (click)="changeColor(col4.value)" [value]='green' class="green pd">green</button>
<div [style.background-color]="backgroundColor">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis molestias fugiat vero quae blanditiis sequi excepturi inventore eos voluptatem quibusdam, magnam maxime velit illum consectetur illo suscipit quasi consequatur cupiditate.</p>
</div>

